body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(73, 80, 87);
}

.aboutMe {
  background: #B4D8C0;
  background: rgba(180, 216, 192, 0.2);
}

.portfolio {
  background: #EAE3EA;
  background: rgba(234, 227, 234, 0.2);
}

.portfolio .image {
  padding: 0.25em
}

.goals {
  background: #A7B3A5;
  background: rgba(167, 179, 165, 0.2);
}